# Node modules
node_modules/
Server/node_modules/
client/node_modules/

# Environment files
.env
Server/.env

# Build / dist
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# IDE files
.vscode/
.idea/

# Database backups
termin_direkt_backup.dump

Server/public/uploads/
