/* GIBSON */
@font-face {
  font-family: 'Gibson';
  font-weight: 400;
  src: url('/fonts/gibson-regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gibson';
  font-weight: 600;
  src: url('/fonts/gibson-semibold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gibson';
  font-weight: 700;
  src: url('/fonts/gibson-bold.woff') format('woff');
  font-display: swap;
}


/* BROWN */
@font-face {
  font-family: 'Brown';
  font-weight: 400;
  src: url('/fonts/brown-regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Brown';
  font-weight: 700;
  src: url('/fonts/brown-bold.woff') format('woff');
  font-display: swap;
}
